
p{
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    color: darkblue;
    text-align: justify;
    /* opacity: 100%; */
}
div{
    height: 90vh;
    background-image: url(../nature.jpg)  ,url(../door-8453898_640.jpg),url(../honey.jpg);    ;
    background-repeat: no-repeat;
    background-size: 200px 190px,45%,200px 190px;
    background-position: left top,center,right bottom;
    background-attachment: fixed;
    /* background-origin: border-box; */
    background-clip: content-box;
    border: 10px dashed black;
    padding: 15px;
    /* opacity: 30% 
     */
}

h1::after{
   content: "* * *";
}
h1::before{
    content: "* * *";
 }

    h1{
    color: red;
    text-align: center;
}