p{
    /* color:aqua; */

    /* text-align:center;
    text-decoration:overline;
    text-transform:capitalize; 
   
    letter-spacing: 5px;
    word-spacing: 50px;
    line-height: 50px;*/
    font-weight: 800;
    font-size: xx-large;
    font-style: italic;
    text-indent: 50px;
    Text-overflow:clip;
}

a{
    font-family: 'Times New Roman', Times, serif;
}